
.mapContainer {
    width: 100%;
    height: 400px;
    margin: 0 auto; 
    display: flex;
    justify-content: center;
  }
  
  @media (min-width: 768px) {
    .mapContainer {
      width: 80%;
      height: 100%;
      max-width: 1200px;
    }
  }
  