#root {
  max-width: 100%;
  width: 600px; 
  margin: 0 auto;
  padding: 1rem;
  text-align: center;
  max-height: 100vh;
  /* overflow-y: auto; */
}

.container {
  width: 90%; /* instead of a fixed width */
  padding: 0.5rem; /* instead of fixed padding */
  box-sizing: border-box;
}


.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}

.card {
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

@media (min-width: 768px) {
  #root {
    padding: 2rem; /* padding for larger screens */
  }

  .container {
    width: 90%;
    padding: 2rem;
  }

  .logo {
    max-height: 6em;
    padding: 2em;
  }

  .card {
    padding: 2rem;
  }

}
