.navbar-container {
    position: fixed; 
    bottom: 0;
    width: 100%;
    background-color: #0077d5;
    padding: 1rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 0.375rem; /* md rounded */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* shadow-md */
    max-width: 600px;
    z-index: 1000;
}

@media (min-width: 768px) {
    .navbar-container {
        width: 80%; 
    }
}